body {
  background: none;
  color: #033b4a;
}
a {
  text-decoration: underline;
}
a.nav-item,
a.dropdown-item,
a.btn,
a.btn-washla,
a.navbar-brand,
.quick-links a,
a.decoration-none {
  text-decoration: none;
}
.fa {
  margin-right: 0;
}
article ul {
  list-style: disc;
  padding-left: 2rem;
}
article a {
  color: #1369b0;
  font-weight: 900;
  text-decoration: none;
}
footer a,
p {
  color: #033b4a;
}
span {
  font-family: 'Poppins', sans-serif;
}
blockquote {
  overflow: hidden;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left: 5px solid #ccc;
}
blockquote p {
  font-style: italic;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
ul.top-contact li a,
ul.top-contact li.email,
.social-list li a {
  color: #033b4a;
}
ul.top-contact li a {
  color: #033b4a;
}
.social-list li a.user-btn {
  color: #fff;
}
.home ul.top-contact li a,
.home ul.top-contact li.email,
.home .social-list li a {
  color: #fff;
}
.navbar .container {
  background-color: #01b3e4;
  justify-content: normal;
}
.navbar .navbar-logo img {
  width: 2.5rem;
  margin: 0.25rem;
}
.navbar .navbar-logo img.home {
  display: none;
}
.navbar .navbar-logo img.standard {
  display: block;
}
.navbar .navbar-brand {
  padding-top: 0.8rem;
  width: 225px;
  text-align: center;
  margin-right: 0;
  font-size: 2.2rem;
  line-height: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.navbar .navbar-brand div {
  color: #fff;
  text-transform: uppercase;
  text-align: left;
}
.navbar .navbar-brand .first {
  font-size: 0.9rem;
  line-height: 1rem;
}
.navbar .navbar-toggler {
  margin: auto;
  margin-right: 0.3rem;
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
  -webkit-transform: translateY(-12px) rotate(0);
  -ms-sform: translateY(-12px) rotate(0);
  transform: translateY(-12px) rotate(0);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
  -webkit-transform: translateY(10px) rotate(0);
  -ms-sform: translateY(10px) rotate(0);
  transform: translateY(10px) rotate(0);
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-nav .nav-link {
  padding: 12px 12px;
}
.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: #fff;
}
.navbar .navbar-nav .nav-connect {
  display: none;
}
.navbar.fixed-top .navbar-logo img.home {
  display: block;
}
.navbar.fixed-top .navbar-logo img.standard {
  display: none;
}
.navbar.fixed-top .navbar-nav .nav-link {
  color: #033b4a;
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
  -webkit-transform: translateY(-7px) rotate(0);
  -ms-sform: translateY(-7px) rotate(0);
  transform: translateY(-11px) rotate(0);
}
.navbar-nav .nav-link {
  padding: 23px 15px;
}
.home .navbar .container {
  background-color: #fff;
}
.home .navbar .navbar-logo img.home {
  display: block;
}
.home .navbar .navbar-logo img.standard {
  display: none;
}
.home .navbar .navbar-nav .nav-link,
.home .navbar .navbar-nav .nav-link:focus,
.home .navbar .navbar-nav .nav-link:hover {
  color: #033b4a;
}
@media (max-width: 991px) {
  .navbar .navbar-logo {
    margin-left: 1rem;
  }
  .navbar .navbar-nav .nav-link,
  .navbar .navbar-nav .nav-link:focus,
  .navbar .navbar-nav .nav-link:hover {
    color: #033b4a;
  }
}
@media (max-width: 767px) {
  .navbar {
    box-shadow: 0 4px 4px -6px #333;
    position: fixed;
  }
  .navbar .container {
    margin: 0;
    width: 100%;
    max-width: none;
    background-color: #fff;
  }
  .navbar .navbar-logo img.home {
    display: block;
  }
  .navbar .navbar-logo img.standard {
    display: none;
  }
  .navbar .navbar-nav .nav-link,
  .navbar .navbar-nav .nav-link:focus,
  .navbar .navbar-nav .nav-link:hover {
    color: #033b4a;
  }
  .navbar .navbar-nav .nav-connect {
    display: list-item;
  }
}
@media (max-width: 511px) {
  .navbar .navbar-brand {
    font-size: 1.7rem;
  }
}
@media (max-width: 425px) {
  .navbar .navbar-brand {
    font-size: 1.6rem;
  }
}
@media (max-width: 375px) {
  .navbar .navbar-brand {
    font-size: 1.5rem;
  }
}
@media (max-width: 413px) {
  .navbar .navbar-brand {
    display: none;
  }
}
.blog-grid .col-md-6.col-lg-4 {
  margin-bottom: 2rem;
}
.blog-grid .news-preview {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.blog-grid .news-preview .np-caption {
  flex-grow: 1;
}
.newsletter .button {
  width: 35%;
}
.block-ws.begin,
article.block-ws {
  margin-top: 12rem;
}
.block-ws.begin .input-group .btn,
.block-ws.begin .input-group .btn:focus {
  z-index: 0;
}
.block-ws.begin .form-group label {
  margin-left: 0;
}
.block-ws.begin .filter-container {
  width: auto;
}
div.block-ws .page-header,
article.block-ws .page-header {
  color: transparent;
  background-color: transparent;
  overflow: inherit;
  text-align: left;
  margin-bottom: 0;
  padding: 0;
}
div.block-ws .list-container table.table-bordered thead th,
article.block-ws .list-container table.table-bordered thead th {
  color: #fff;
  background-color: #01b3e4;
}
div.block-ws .page-link,
article.block-ws .page-link {
  color: #01b3e4;
}
div.block-ws .page-item.active .page-link,
article.block-ws .page-item.active .page-link {
  color: #fff;
  background-color: #01b3e4;
  border-color: #01b3e4;
}
div.block-ws .list-container a,
article.block-ws .list-container a {
  color: #01b3e4;
}
div.block-ws .list-container .lc_line-hover a,
article.block-ws .list-container .lc_line-hover a {
  color: #fff;
  background-color: transparent !important;
}
div.block-ws .list-container .lc_line-hover,
article.block-ws .list-container .lc_line-hover {
  color: #fff;
  background-color: #01b3e4 !important;
}
div.block-ws .list-container table.table-bordered td,
div.block-ws .list-container table.table-bordered thead th,
article.block-ws .list-container table.table-bordered td,
article.block-ws .list-container table.table-bordered thead th {
  border: 1px solid grey;
}
div.block-ws h1,
article.block-ws h1 {
  text-align: center;
  margin-bottom: 1rem;
}
div.block-ws figure.post-image,
article.block-ws figure.post-image {
  position: relative;
}
div.block-ws .article-info,
article.block-ws .article-info {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
div.block-ws .article-info .article-duration,
article.block-ws .article-info .article-duration {
  flex: 0 0 50%;
  text-align: left;
}
div.block-ws .article-info .article-author,
article.block-ws .article-info .article-author {
  flex: 0 0 50%;
  text-align: right;
}
div.block-ws .article-info p,
article.block-ws .article-info p {
  margin-bottom: 0;
}
div.extra-box.block-ws .page-header {
  color: #fff;
  background-color: #01b3e4;
  padding: 0.1rem;
  text-align: center;
}
div.extra-box.block-ws .bt-minus {
  display: none;
}
aside.article {
  margin-top: 15.6rem;
}
aside.article .recent-post-thumb.diagnostic .rp-feature {
  position: relative;
}
aside.article .recent-post-thumb.diagnostic .rp-feature .text {
  min-width: 7rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}
aside.article .recent-post-thumb.diagnostic .rp-feature .text h5 {
  font-size: 1rem;
}
aside.article .recent-post-thumb.diagnostic .rpt-caption {
  background-color: var(--secundary-color);
}
aside.article .recent-post-thumb.diagnostic .rpt-caption h5 a {
  color: #fff;
}
.contact article>p,
.forum article>p,
.login article>p,
.password article>p,
.validation article>p {
  text-align: center;
}
.recent-post-thumb {
  max-width: 400px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  article.block-ws {
    margin-top: 10rem;
  }
  article.block-ws h1.article {
    margin-right: 0rem;
  }
  aside.article {
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  article.block-ws {
    margin-top: 5rem;
  }
  article.block-ws .article-info .article-duration,
  article.block-ws .article-info .article-author {
    flex: 0 0 100%;
    text-align: left;
  }
}
.blog article.block-ws h1.article {
  margin-right: -15rem;
}
@media (max-width: 991px) {
  .blog article.block-ws h1.article {
    margin-right: 0rem;
  }
}
.box-name,
.box-name p {
  background-color: transparent;
  color: #3b3b3b;
  font-family: mandrel-normal, serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2rem;
  text-align: left;
  margin: 0;
  margin-bottom: 0.6rem;
  margin-top: 0.2rem;
  padding: 0;
  padding-bottom: 0;
  padding-top: 0;
  border: none;
  padding-bottom: none;
  padding-top: none;
}
.subtitle,
.subtitle p {
  color: #5747AF;
  background-color: transparent;
  font-family: quador, serif;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2.4rem;
  margin-bottom: 0.6rem;
  margin-top: 0.2rem;
}
.text-center {
  text-align: center;
}
button,
button:focus,
button:active,
button:visited {
  background: transparent;
  float: right;
  border: none;
  border-radius: .25rem;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}
button.btn,
button:focus.btn,
button:active.btn,
button:visited.btn {
  border: 1px solid transparent;
  padding: .5rem 1rem;
  margin-left: .5rem;
}
button.btn-primary,
button:focus.btn-primary,
button:active.btn-primary,
button:visited.btn-primary {
  color: #fff;
  background-color: #01b3e4;
  border-color: #01b3e4;
}
button.btn-primary span.fa,
button:focus.btn-primary span.fa,
button:active.btn-primary span.fa,
button:visited.btn-primary span.fa {
  color: #fff;
}
.link-btn {
  float: right;
  border: none;
  border-radius: .25rem;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  margin-left: .5rem;
  color: #fff;
  background-color: #01b3e4;
  border-color: #01b3e4;
}
.link-btn img {
  margin-right: 0.2rem;
  width: auto;
}
a.link-btn,
a.link-btn:focus,
a.link-btn:hover {
  color: #fff;
  text-decoration: none;
}
.tab-link {
  display: flex;
  justify-content: normal;
}
.tab-link .undertitle {
  display: block;
}
.tab-link h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.tab-link .down h2 {
  color: #9dabaf;
}
.tab-link [class^=link] {
  padding-right: 4rem;
  cursor: pointer;
}
.tab-content {
  padding-top: 1rem;
}
.tab-content .up {
  display: block;
}
.tab-content .down {
  display: none;
}
@media (max-width: 767px) {
  .tab-content {
    padding-top: 0.5rem;
  }
  .tab-link .undertitle {
    display: none;
  }
  .tab-link [class^=link] {
    padding-right: 2rem;
  }
  .tab-link [class^=link] h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 374px) {
  .tab-link [class^=link] {
    padding-right: 1rem;
  }
  .tab-link [class^=link] h2 {
    font-size: 1.3rem;
  }
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
  width: 100%;
}
.form-row .form-label {
  padding-right: 1rem;
  text-align: left;
  width: 80%;
  margin: auto;
}
.form-row .form-input {
  width: 80%;
  margin: auto;
}
.form-row .center,
.form-row .center:focus {
  margin: auto;
}
.form-group {
  display: flex;
}
div.counter {
  display: inline-block;
}
.link-login {
  cursor: pointer;
}
.login-block,
.changepassword-block,
.contact-block {
  max-width: 43rem;
  margin: auto;
}
.login-block .message,
.changepassword-block .message,
.contact-block .message {
  color: red;
  font-weight: 600;
}
.login-block .validation .email,
.changepassword-block .validation .email,
.contact-block .validation .email {
  font-weight: 600;
}
.contact-block .form-row .form-input.contact_message {
  max-width: none;
}
.cd-top {
  right: 2rem;
  bottom: 1rem;
}
@media (min-width: 1024px) {
  .cd-top {
    right: 2rem;
    bottom: 0.5rem;
  }
}
.cookie-choice {
  position: fixed;
  z-index: 3;
  background-color: rgba(49,49,49,0.7);
  width: 100%;
  margin: 0;
  left: 0;
  bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.cookie-choice .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.2rem;
  border: 0.1rem solid #7F7F7F;
  overflow: hidden;
  margin: auto;
  background-color: #fff;
  padding: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  opacity: 1;
  align-items: center;
}
.cookie-choice .container .cookie-info {
  flex: 0 0 75%;
}
.cookie-choice .container .cookie-info p {
  margin-bottom: 0;
}
.cookie-choice .container .cookie-btn {
  text-align: center;
  flex: 0 0 25%;
  min-width: 12rem;
  position: relative;
}
.cookie-choice .container .cookie-btn .cookie-accept {
  min-width: 12rem;
  margin-left: 0;
}
.cookie-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cookie-container .cookie-btn {
  text-align: center;
  flex: 0 0 50%;
}
.cookie-container .cookie-btn .cookie-accept,
.cookie-container .cookie-btn .cookie-dismiss {
  margin-left: 0;
  margin-bottom: 1rem;
}
@media (max-width: 991px) {
  .cookie-choice .container .cookie-info {
    flex: 0 0 100%;
  }
  .cookie-choice .container .cookie-btn {
    flex: 0 0 100%;
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  .cookie-container .cookie-btn {
    flex: 0 0 100%;
  }
}
footer {
  padding: 1rem 0rem 4rem;
}
footer .col-footer .footer-logo {
  margin-bottom: 1.15rem;
}
footer .col-footer .footer-logo img {
  max-width: 3rem;
}
footer .col-footer .footer-logo-text {
  text-align: center;
}
footer .right-layer {
  vertical-align: top;
}
.phone-ask {
  display: block;
  height: 5rem;
  width: 5rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  overflow: hidden;
  border-radius: 0;
  cursor: pointer;
  z-index: 4;
}
.phone-nb {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  overflow: hidden;
  background-color: #fff;
  border-radius: 16px 31px 0px 16px;
  box-shadow: 0px 3px 6px #003B4B;
  cursor: default;
  padding: 0.5rem;
  padding-top: 2rem;
  z-index: 4;
  text-align: center;
}
.phone-nb p {
  text-transform: uppercase;
  font-size: 200%;
  line-height: 100%;
  font-weight: 700;
  color: #03B3E4;
  margin: 0;
}
.phone-nb .number {
  margin: auto;
  font-size: 270%;
  color: #F0AE01;
  font-weight: 700;
}
.phone-nb .small {
  font-size: 80%;
  text-transform: none;
  text-align: left;
}
.phone-nb .icon {
  height: 5rem;
  width: 5rem;
  float: right;
  margin: 0 !important;
}
@media (max-width: 1024px) {
  .phone-ask {
    height: 3rem;
    width: 3rem;
    bottom: 0.6rem;
    right: 0.6rem;
  }
  .phone-nb {
    bottom: 0.1rem;
    right: 0.1rem;
  }
  .phone-nb .icon {
    height: 3rem;
    width: 3rem;
  }
}
#user_result {
  position: fixed;
  top: 100px !important;
}
#user_result_tabs {
  max-height: 40rem;
  overflow-y: scroll;
}
.home .navbar .navbar-brand div {
  color: #1369B0;
}
.home .home-top {
  height: calc(100vh);
  min-height: 568px;
  width: 100%;
  background-size: cover;
  background-color: #00627E;
}
.home .top-content {
  position: relative;
}
.home .top-caption {
  position: absolute;
  top: 15rem;
  left: 0rem;
  color: #fff;
  text-align: left;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 1;
}
.home .top-caption .title {
  font-size: 60px;
  line-height: 65px;
  text-transform: uppercase;
  text-shadow: 0px 3px 6px #003B4B;
  margin-bottom: 40px;
  color: #fff;
  letter-spacing: 3px;
  width: 100%;
  margin-bottom: 1.5rem;
  z-index: 1;
}
.home .top-caption .op-btn {
  z-index: 1;
  margin-top: 4rem;
}
.home .top-caption .op-btn a {
  background-color: #FFBF00;
  color: #003B4B;
  border-color: #FFBF00;
  font-weight: 600;
}
.home .top-caption .op-btn a:hover {
  background-color: #FF8C00;
  color: #003B4B;
  box-shadow: 0px 3px 6px #003B4B;
  transition: all 0.2s ease-in-out 0s;
}
.home .top-caption .untitle {
  max-width: 30rem;
  font-size: 150%;
  text-shadow: 0px 2px 4px #003B4B;
  color: #fff;
  margin-top: 1rem;
  z-index: 1;
}
.home .top-image {
  position: absolute;
  top: 8rem;
  right: -6rem;
  z-index: 0;
}
.home .top-image img {
  border-radius: 50%;
  height: 800px;
  width: 800px;
}
@media (max-width: 1348px) {
  .home .top-caption {
    top: 15rem;
  }
  .home .top-caption .title {
    margin-top: 0rem;
  }
  .home .top-caption .op-btn {
    margin-top: 1rem;
  }
  .home .top-caption .untitle {
    margin-top: 1rem;
  }
  .home .top-image {
    right: 0;
  }
}
@media (max-width: 1023px) {
  .home .top-caption {
    top: 12rem;
  }
  .home .top-caption .title {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20x;
    margin-top: 0rem;
  }
  .home .top-caption .op-btn {
    margin-top: 1rem;
  }
  .home .top-caption .untitle {
    margin-top: 1rem;
  }
}
@media (max-width: 850px) {
  .home .top-caption {
    top: 10rem;
  }
  .home .top-caption .title {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 15px;
    margin-top: 0rem;
  }
  .home .top-caption .op-btn {
    margin-top: 1rem;
  }
  .home .top-caption .untitle {
    margin-top: 1rem;
  }
  .home .top-image {
    text-align: center;
    top: 18rem;
  }
  .home .top-image img {
    height: auto;
    width: 95%;
  }
}
@media (max-width: 700px) {
  .home .top-caption {
    top: 6rem;
  }
  .home .top-caption .title {
    margin-top: 0rem;
  }
  .home .top-caption .op-btn {
    margin-top: 1rem;
  }
  .home .top-caption .untitle {
    margin-top: 1rem;
  }
  .home .top-caption .btn-lg {
    padding: 6px 20px;
  }
  .home .top-image {
    top: 15rem;
  }
}
@media (max-width: 500px) {
  .home .home-top {
    height: calc(93vh);
  }
  .home .top-caption {
    top: 6rem;
  }
  .home .top-caption .title {
    font-size: 35px;
    line-height: 38px;
    margin-top: 0rem;
  }
  .home .top-caption .op-btn {
    margin-top: 1rem;
  }
  .home .top-caption .untitle {
    margin-top: 1rem;
    font-size: 125%;
  }
  .home .top-image {
    top: 17rem;
  }
}
@media (max-width: 430px) {
  .home .top-caption {
    top: 5rem;
  }
  .home .top-caption .title {
    font-size: 30px;
    line-height: 33px;
    margin-top: 0.5rem;
  }
  .home .top-caption .op-btn {
    margin-top: 1rem;
    text-align: center;
  }
  .home .top-caption .untitle {
    margin-top: 1rem;
    font-size: 110%;
  }
  .home .top-image {
    top: 19rem;
  }
  .home .top-image img {
    width: 90%;
  }
}
@media (max-width: 415px) {
  .home .top-image {
    top: 20rem;
  }
}
@media (max-width: 400px) {
  .home .top-image {
    top: 20rem;
  }
  .home .btn-lg {
    font-size: 14px;
  }
}
@media (max-width: 380px) {
  .home .top-image {
    top: 22.5rem;
  }
}
@media (max-width: 380px) and (max-height: 700px) {
  .home .top-image {
    top: 20rem;
  }
}
@media (max-width: 374px) {
  .home .top-caption {
    top: 5rem;
  }
  .home .top-caption .title {
    font-size: 25px;
    line-height: 28px;
    margin-top: 0.5rem;
  }
  .home .top-caption .op-btn {
    margin-top: 1rem;
  }
  .home .top-caption .untitle {
    margin-top: 1rem;
    font-size: 100%;
  }
  .home .top-image {
    top: 20rem;
  }
}
@media (max-width: 330px) {
  .home .top-caption {
    top: 5rem;
  }
  .home .top-caption .title {
    font-size: 25px;
    line-height: 28px;
    margin-top: 0.5rem;
  }
  .home .top-caption .op-btn {
    margin-top: 1rem;
  }
  .home .top-caption .untitle {
    margin-top: 1rem;
    font-size: 100%;
  }
  .home .btn-lg {
    font-size: 12px;
    line-height: 17px;
  }
  .home .top-image {
    top: 20rem;
  }
  .home .top-image img {
    width: 75%;
  }
}
.home .video-top {
  background-image: none;
  height: auto;
  position: relative;
}
.home .video-top figure {
  margin-top: 1rem;
  cursor: pointer;
}
.home .video-top figure iframe {
  min-height: 586px;
}
.home .video-top .text {
  background-color: var(--secundary-color);
  padding: 1rem;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  min-width: 27rem;
}
@media (max-width: 1080px) {
  .home .video-top figure iframe {
    min-height: 522px;
  }
}
@media (max-width: 1079px) {
  .home .video-top figure iframe {
    min-height: 490px;
  }
}
@media (max-width: 1023px) {
  .home .video-top .text {
    display: none;
  }
  .home .video-top figure iframe {
    min-height: 480px;
  }
}
@media (max-width: 850px) {
  .home .video-top figure iframe {
    min-height: 365px;
  }
}
@media (max-width: 700px) {
  .home .video-top figure iframe {
    min-height: 280px;
  }
}
@media (max-width: 500px) {
  .home .video-top figure iframe {
    min-height: 195px;
  }
}
@media (max-width: 430px) {
  .home .video-top figure iframe {
    min-height: 175px;
  }
}
@media (max-width: 374px) {
  .home .video-top figure iframe {
    min-height: 150px;
  }
}
.home .about-top {
  margin-top: 6rem;
}
.home .about-top .box-layers {
  margin-top: -6rem;
}
.home .about-top .box-layers .col-lg-4 {
  margin-top: -5rem;
}
.home .about-top .box-layers .ab-box {
  height: 15rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 20px;
  padding-bottom: 20px;
}
.home .about-top .box-layers .ab-box .ab-box-icon {
  width: auto;
}
.home .about-top .box-layers .ab-box .ab-box-icon img {
  width: auto;
}
.home .about-top .box-layers2 {
  margin-bottom: -5rem;
}
@media (max-width: 1023px) {
  .home .about-top .box-layers .col-lg-4 {
    margin-top: 0;
  }
  .home .about-top .box-layers .col-lg-4:first-child {
    margin-top: -5rem;
    margin-bottom: 2.5rem;
  }
}
.home .counter-bar {
  margin-top: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.home .counter-bar .counter-layer {
  padding: 0px 4px;
}
.home .counter-bar .counter-layer img {
  width: 3rem;
}
.home .counter-bar .counter-layer .counter {
  font-size: 25px;
  padding-left: 0.5rem;
}
.home .counter-bar .counter-layer .counter-unit {
  color: var(--primary-color);
  font-size: 20px;
  padding-left: 0.3rem;
}
.home .counter-bar .counter-layer p {
  padding-left: 0.5rem;
}
@media (max-width: 768px) {
  .home .counter-bar {
    margin-top: 0;
  }
}
.home .ws-parallax-services {
  background-image: url("../images/separation/accueil_conseils.png");
  height: 32rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -160px;
  padding: 130px 0;
  padding-top: 1rem;
}
@media (max-width: 768px) {
  .home .ws-parallax-services {
    height: 34rem;
  }
}
@media (max-width: 325px) {
  .home .ws-parallax-services {
    height: 38rem;
  }
}
.home .owl-stage {
  display: flex;
  flex-wrap: wrap;
}
.home .owl-stage .item {
  height: 100%;
}
.home .owl-stage .item .ws-box-services {
  height: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.home .owl-stage .item .ws-box-services .ws-box-icon {
  width: 100%;
  display: inline-block;
}
.home .owl-stage .item .ws-box-services .ws-box-icon img {
  width: auto;
}
@media (max-width: 480px) {
  .home .owl-stage .np-caption {
    margin: -1rem 1rem 0px;
  }
  .home .owl-stage .np-caption h4 {
    font-size: 16px;
  }
}
.diagnostic .btn-tool {
  background-color: #FF8C00;
}
.diagnostic .btn-tool h2 {
  padding: 0.5rem;
  color: #fff;
}
.diagnostic .list-etapes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1rem;
}
.diagnostic .list-etapes .etape {
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex: 0 0 50%;
  width: 100%;
}
.diagnostic .list-etapes .etape .image {
  padding-right: 1rem;
}
.diagnostic .list-etapes .etape .label {
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .diagnostic .list-etapes .etape {
    flex: 0 0 100%;
  }
}
.apropos .post-image {
  float: left;
  margin-right: 1rem;
}
.apropos .post-image img {
  width: auto;
  margin: auto;
  display: block;
}
@media (max-width: 768px) {
  .apropos .post-image {
    float: none;
    margin-right: 0;
    width: 100%;
  }
}
.statistics .block-ws {
  margin-top: 12rem;
}
@media (max-width: 425px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .form-row {
    margin-bottom: 1rem;
  }
  .form-row .form-label {
    width: 40%;
    text-align: right;
    margin: 0;
  }
  .form-row .form-input {
    width: 50%;
    max-width: 20rem;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .form-row .form-label {
    width: 30%;
  }
  .form-row .form-input {
    width: 50%;
  }
  .footer ul li {
    width: auto;
  }
}
.wait {
  cursor: wait;
}
