/*   button    */
@iconColor : #01b3e4;
@btBgColor : #01b3e4;
@btColor : #fff;

/*   .box-name  */
@BoxNameBgColor : transparent;
@BoxNameColor : #3b3b3b;
@BoxNameFont : mandrel-normal, serif;
@BoxNameFontSize : 1.5rem;
@BoxNameFontWeight : 700;
@BoxNameFontStyle : italic;
@BoxNameLetterSpacing: 0;
@BoxNameLineHeight : 2rem;
@BoxNameTextAlign : left;

/*   .subtitle  */
@SubTitleBgColor : transparent;
@SubTitleColor : #5747AF;
@SubTitleFont : quador, serif;
@SubTitleFontSize : 1.8rem;
@SubTitleFontWeight : 700;
@SubTitleFontStyle : italic;
@SubTitleLetterSpacing: 0;
@SubTitleLineHeight : 2.4rem;
@SubTitleTextAlign : left;

/*****************************/
/*           Main            */
/*****************************/
body {
	background: none;
	color: #033b4a;
}

a {
	text-decoration: underline;
}

a.nav-item,
a.dropdown-item,
a.btn,
a.btn-washla,
a.navbar-brand,
.quick-links a,
a.decoration-none {
	text-decoration: none;
}

.fa {
	margin-right: 0;
}

article ul {
	list-style: disc;
	padding-left: 2rem;
}

article a {
    color: #1369b0;
    font-weight: 900;
    text-decoration: none;
}

footer a,
p {
	color: #033b4a;
}

span {
	font-family: 'Poppins',sans-serif;
}

blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;
	p {
		font-style: italic;
	}
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

/*****************************/
/*         Nav Header        */
/*****************************/
ul.top-contact li a,
ul.top-contact li.email,
.social-list li a {
	color: #033b4a;
}
ul.top-contact li a {
	color: #033b4a;
}
.social-list li a.user-btn {
	color: #fff;
}

.home {
	ul.top-contact li a,
	ul.top-contact li.email,
	.social-list li a {
		color: #fff;
	}
}

/*****************************/
/*          Nav bar          */
/*****************************/
.navbar {
	.container {
		background-color: #01b3e4;
		justify-content: normal;
	}
	.navbar-logo {
		img {
			width: 2.5rem;
			margin: 0.25rem;
		}
		img.home {
			display: none;
		}
		img.standard {
			display: block;
		}
	}
	.navbar-brand {
		padding-top: 0.8rem;
		width: 225px;
		text-align: center;
		margin-right:0;
		font-size: 2.2rem;
		line-height: 2.5rem;
		font-family: 'Poppins',sans-serif;
		font-weight: 700;
		div {
			color: #fff;
			text-transform: uppercase;
			text-align: left;
		}
		.first {
			font-size: 0.9rem;
			line-height: 1rem;
		}
	}
	.navbar-toggler {
		margin: auto;
		margin-right:0;
		&.collapsed {
			.menu-icon-bar:first-child {
				-webkit-transform: translateY(-12px) rotate(0);
				-ms-sform: translateY(-12px) rotate(0);
				transform: translateY(-12px) rotate(0);
			}
			.menu-icon-bar:last-child {
				-webkit-transform: translateY(10px) rotate(0);
				-ms-sform: translateY(10px) rotate(0);
				transform: translateY(10px) rotate(0);
			}
		}
		&:focus {
			box-shadow: none;
		}
	}
	.navbar-nav {
		.nav-link {
			padding: 23px 12px;
		}
		.nav-link,
		.nav-link:focus,
		.nav-link:hover {
			color: #fff;
		}
		.nav-connect {
			display: none;
		}
	}
	&.fixed-top {
		.navbar-logo {
			img.home {
				display: block;
			}
			img.standard {
				display: none;
			}
		}
		.navbar-nav .nav-link {
			color: #033b4a;
		}
	}
}

.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
    -webkit-transform: translateY(-7px) rotate(0);
    -ms-sform: translateY(-7px) rotate(0);
    transform: translateY(-11px) rotate(0);
}

.navbar-nav .nav-link {
	padding: 23px 15px;
}

.home {
	.navbar {
		.container {
			background-color: #fff;
		}
		.navbar-logo {
			img.home {
				display: block;
			}
			img.standard {
				display: none;
			}
		}
		.navbar-nav {
			.nav-link,
			.nav-link:focus,
			.nav-link:hover {
				color: #033b4a;
			}
		}
	}
}

@media (max-width: 991px) {
	.navbar {
		.navbar-logo {
			margin-left: 1rem;
		}
		.navbar-nav .nav-link,
		.navbar-nav .nav-link:focus,
		.navbar-nav .nav-link:hover {
			color: #033b4a;
		}
	}
}

@media (max-width: 767px) {
	.navbar {
		box-shadow: 0 4px 4px -6px #333;
		position: fixed;

		.container {
			margin: 0;
			width: 100%;
			max-width: none;
			background-color: #fff;
		}
		.navbar-logo {
			img.home {
				display: block;
			}
			img.standard {
				display: none;
			}
		}
		.navbar-nav {
			.nav-link,
			.nav-link:focus,
			.nav-link:hover {
				color: #033b4a;
			}
			.nav-connect {
				display: list-item;
			}
		}
	}
}

@media (max-width: 511px) {
	.navbar {
		.navbar-brand {
			font-size: 1.7rem;
		}
	}
}

@media (max-width: 425px) {
	.navbar {
		.navbar-brand {
			font-size: 1.6rem;
		}
	}
}

@media (max-width: 375px) {
	.navbar {
		.navbar-brand {
			font-size: 1.5rem;
		}
	}
}

@media (max-width: 413px) {
	.navbar {
		.navbar-brand {
			display: none;
		}
	}
}

/*****************************/
/*          Blog             */
/*****************************/
.blog-grid {
	.col-md-6.col-lg-4 {
		margin-bottom: 2rem;
	}
	.news-preview {
		margin: 0;
		height: 100%;
		display: flex;
		flex-direction: column;

		.np-caption {
			flex-grow: 1;
		}
	}
}

/*****************************/
/*        Newsletter         */
/*****************************/
.newsletter .button {
    width: 35%;
}

/*****************************/
/*         articles          */
/*****************************/
article.block-ws {
	margin-top: 12rem;

	h1 {
		text-align: center;
		margin-bottom: 1rem;
		&.article {
			margin-right: -15rem;
		}
	}
	figure.post-image {
		position: relative;
	}
	.article-info {
		display: flex;
		flex-wrap: wrap;
		align-items: start;
		.article-duration {
			flex: 0 0 50%;
			text-align: left;
		}
		.article-author {
			flex: 0 0 50%;
			text-align: right;
		}
		p {
			margin-bottom: 0;
		}
	}
}

aside.article {
	margin-top: 15.6rem;
	.recent-post-thumb.diagnostic {
		.rp-feature {
			position: relative;
			.text {
				min-width: 7rem;
				position: absolute;
				top: 40%;
				left: 50%;
				transform: translate(-50%, -50%);
				h5 {
					font-size: 1rem;
				}
			}
		}
		.rpt-caption {
			background-color: var(--secundary-color);
			h5 {
				a {
					color: #fff;
				}
			}
		}
	}
}

.contact,
.forum,
.login,
.password,
.validation {
	article {
		&>p {
			text-align: center;
		}
	}
}

.recent-post-thumb {
	max-width:400px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;	
}

@media (max-width: 991px) {
	article.block-ws {
		margin-top: 10rem;
		
		h1.article {
			margin-right: 0rem;
		}
	}

	aside.article {
		margin-top: 1rem;
	}
}

@media (max-width: 767px) {
	article.block-ws {
		margin-top: 5rem;
		.article-info {
			.article-duration,
			.article-author {
				flex: 0 0 100%;
				text-align: left;
			}
		}
	}
}

/*****************************/
/*           items           */
/*****************************/
.box-name,
.box-name p {
	background-color: @BoxNameBgColor;
	color: @BoxNameColor;
	font-family: @BoxNameFont;
	font-size: @BoxNameFontSize;
	font-style: @BoxNameFontStyle;
	font-weight: @BoxNameFontWeight;
	letter-spacing: @BoxNameLetterSpacing;
	line-height: @BoxNameLineHeight;
	text-align: @BoxNameTextAlign;

	margin: 0;
	margin-bottom: 0.6rem;
	margin-top: 0.2rem;
	padding: 0;
	padding-bottom: 0;
	padding-top: 0;
	border: none;
	padding-bottom: none;
	padding-top: none;
}

.subtitle,
.subtitle p {
	color: @SubTitleColor;
	background-color: @SubTitleBgColor;
	font-family: @SubTitleFont;
	font-size: @SubTitleFontSize;
	font-style: @SubTitleFontStyle;
	font-weight: @SubTitleFontWeight;
	letter-spacing: @SubTitleLetterSpacing;
	line-height: @SubTitleLineHeight;
	margin-bottom: 0.6rem;
	margin-top: 0.2rem;
}

.text-center {
	text-align: center;
}

/* buttons */
button,
button:focus,
button:active,
button:visited {
	background: transparent;
	float: right;
	border: none;
	border-radius: .25rem;
	outline: none;
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
	display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;

	&.btn {
		border: 1px solid transparent;
		padding: .5rem 1rem;
		margin-left: .5rem;
	}

	&.btn-primary {
		color: @btColor;
		background-color: @btBgColor;
		border-color: @btBgColor;

		span.fa {
			color: @btColor;
		}
	}
}

.link-btn {
	float: right;
	border: none;
	border-radius: .25rem;
	outline: none;
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
	display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
	border: 1px solid transparent;
	padding: .5rem 1rem;
	margin-left: .5rem;
	color: @btColor;
	background-color: @btBgColor;
	border-color: @btBgColor;
	img {
		margin-right: 0.2rem;
		width: auto;
	}
}

a.link-btn,
a.link-btn:focus,
a.link-btn:hover {
	color: @btColor;
	text-decoration: none;
}

/*    Tab   */
.tab-link {
	display: flex;
	justify-content: normal;

	.undertitle {
		display: block;
	}
	h2 {
		margin-bottom:0;
		padding-bottom:0;
	}
	.down h2 {
		color: #9dabaf;
	}
	[class^=link] {
		padding-right: 4rem;
		cursor: pointer;
	}
}

.tab-content {
	padding-top: 1rem;
	
	.up {
		display: block;
	}
	.down {
		display: none;
	}
}

@media (max-width: 767px) {
	.tab-content {
		padding-top: 0.5rem;
	}
	.tab-link {
		.undertitle {
			display: none;
		}
		[class^=link] {
			padding-right: 2rem;
			h2 {
				font-size: 1.5rem;
			}
		}
	}
}

@media (max-width: 374px) {
	.tab-link {
		[class^=link] {
			padding-right: 1rem;
			h2 {
				font-size: 1.3rem;
			}
		}
	}
}

/*  Forms */
.form-row {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.5rem;
	width: 100%;

	.form-label {
		padding-right: 1rem;
		text-align: left;
		width: 80%;
		margin:auto;
	}

	.form-input {
		width: 80%;
		margin:auto;
	}
	.center,
	.center:focus,
	{
		margin: auto;
	}
}

.form-group {
    display: flex;
}

/************************/
/* Modifications washla */
/************************/
div.counter {
	display:inline-block;
}

/*****************/
/* Login/Contact */
/*****************/
.link-login {
	cursor: pointer;
}

.login-block,
.changepassword-block,
.contact-block {
	max-width: 43rem;
	margin: auto;
	
	.message {
		color: red;
		font-weight: 600;
	}
	
	.validation {
		.email {
			font-weight: 600;
		}
	}
}

.contact-block .form-row .form-input.contact_message {
	max-width: none;
}

/******************/
/*      Top       */
/******************/
.cd-top {
	right: 2rem;
	bottom: 1rem;
}

@media (min-width: 1024px) {
	.cd-top {
		right: 2rem;
		bottom: 0.5rem;
	}
}

/******************/
/* Cookies choice */
/******************/
.cookie-choice {
	position: fixed;
	z-index: 3;
	background-color: rgba(49,49,49,0.7);
	width: 100%; 
	margin: 0; 
	left: 0; 
	bottom: 0;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	.container {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		border-radius: 0.2rem;
		border: 0.1rem solid #7F7F7F;
		overflow: hidden;
		margin: auto;
		background-color: #fff;
		padding: 1rem;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(10px);
		opacity: 1;
		align-items: center;
		.cookie-info {
			flex: 0 0 75%;
			p {
				margin-bottom: 0;
			}
		}
		.cookie-btn {
			text-align: center;
			flex: 0 0 25%;
			min-width : 12rem;
			position: relative;
			.cookie-accept {
				min-width: 12rem;
				margin-left: 0;
			}
		}
	}
}

.cookie-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	.cookie-btn {
		text-align: center;
		flex: 0 0 50%;
		.cookie-accept, .cookie-dismiss {
			margin-left: 0;
			margin-bottom: 1rem;
		}
	}
}

@media (max-width: 991px) {
	.cookie-choice {
		.container {
			.cookie-info {
				flex: 0 0 100%;
			}
			.cookie-btn {
				flex: 0 0 100%;
				margin-top: 1rem;
			}
		}
	}
}

@media (max-width: 768px) {
	.cookie-container {
		.cookie-btn {
			flex: 0 0 100%;
		}
	}
}

/*****************/
/*    Footer     */
/*****************/
footer {
	padding: 1rem 0rem 4rem;
	.col-footer {
		.footer-logo {
			margin-bottom: 1.15rem;

			img {
				max-width: 3rem;
			}
		}
		.footer-logo-text {
			text-align: center;
		}
	}
	.right-layer {
		vertical-align: top;
	}	
}

/*****************/
/*   Phone box   */
/*****************/
.phone-ask {
    display: block;
    height: 5rem;
    width: 5rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    overflow: hidden;
    border-radius: 0;
	cursor: pointer;
    z-index: 4;
}

.phone-nb {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    overflow: hidden;
    background-color: #fff;
    border-radius: 16px 31px 0px 16px;
	box-shadow: 0px 3px 6px #003B4B;
	cursor: default;
	padding: 0.5rem;
	padding-top: 2rem;
    z-index: 4;
	text-align: center;
	p {
		text-transform: uppercase;
		font-size: 200%;
		line-height: 100%;
		font-weight: 700;
		color: #03B3E4;
		margin: 0;
	}
	.number {
		margin: auto;
		font-size: 270%;
		color: #F0AE01;
		font-weight: 700;
	}
	.small {
		font-size: 80%;
		text-transform: none;
		text-align: left;
	}
	.icon {
		height: 5rem;
		width: 5rem;
		float: right;
		margin:0 !important;
	}
}

@media (max-width: 1024px) {
	.phone-ask {
		height: 3rem;
		width: 3rem;
		bottom: 0.6rem;
		right: 0.6rem;
	}
	.phone-nb {
		bottom: 0.1rem;
		right: 0.1rem;
		.icon {
			height: 3rem;
			width: 3rem;
		}
	}
}

/************************/
/*       home           */
/************************/
.home {
	.navbar {
		.navbar-brand {
			div {
				color: #1369B0;
			}
		}
	}
	.home-top {
		height: calc(100vh);
		min-height: 568px;
		width: 100%;
		background-size: cover;
		background-color: #00627E;
	}
	.top-content {
		position: relative;
/*
		height: calc(100vh);
		width: 100%;
*/
	}
	.top-caption {
		position: absolute;
		top: 15rem;
		left: 0rem;
		color: #fff;
		text-align: left;
		padding:0;
		padding-left: 1rem;
		padding-right: 1rem;
		z-index : 1;
		.title {
			font-size: 60px;
			line-height: 65px;
			text-transform: uppercase;
			text-shadow: 0px 3px 6px #003B4B;
			margin-bottom: 40px;
			color: #fff;
			letter-spacing: 3px;
			width: 100%;
			margin-bottom: 1.5rem;
			z-index : 1;
		}
		.op-btn {
			z-index : 1;
			margin-top: 4rem;
			a {
				background-color: #FFBF00;
				color : #003B4B;
				border-color: #FFBF00;
				font-weight: 600;
			}
			a:hover {
				background-color: #FF8C00;
				color : #003B4B;
				box-shadow: 0px 3px 6px #003B4B;
				transition: all 0.2s ease-in-out 0s;
			}
		}
		.untitle {
			max-width: 30rem;
			font-size: 150%;
			text-shadow: 0px 2px 4px #003B4B;
			color: #fff;
			margin-top: 1rem;
			z-index : 1;
		}
	}
	.top-image {
		position: absolute;
		top: 8rem;
		right: -6rem;
		z-index: 0;
		img {
			border-radius: 50%;
			height: 800px;
			width: 800px;
		}
	}
}

@media (max-width: 1348px) {
	.home {
		.top-caption {
			top: 15rem;
			.title {
				margin-top: 0rem;
			}
			.op-btn {
				margin-top: 1rem;
			}
			.untitle {
				margin-top: 1rem;
			}
		}
		.top-image {
			right: 0;
		}
	}
}
	
@media (max-width: 1023px) {
	.home {
		.top-caption {
			top: 12rem;
			.title {
				font-size: 45px;
				line-height: 50px;
				margin-bottom: 20x;
				margin-top: 0rem;
			}
			.op-btn {
				margin-top: 1rem;
			}
			.untitle {
				margin-top: 1rem;
			}
		}
	}
}
	
@media (max-width: 850px) {
	.home {
		.top-caption {
			top: 10rem;
			.title {
				font-size: 40px;
				line-height: 45px;
				margin-bottom: 15px;
				margin-top: 0rem;
			}
			.op-btn {
				margin-top: 1rem;
			}
			.untitle {
				margin-top: 1rem;
			}
		}
		.top-image {
			text-align: center;
			top: 18rem;
			img {
				height: auto;
				width: 95%;
			}
		}
	}
}

@media (max-width: 700px) {
	.home {
		.top-caption {
			top: 6rem;
			.title {
				margin-top: 0rem;
			}
			.op-btn {
				margin-top: 1rem;
			}
			.untitle {
				margin-top: 1rem;
			}
			.btn-lg {
				padding: 6px 20px;
			}
		}
		.top-image {
			top: 15rem;
		}
	}
}

@media (max-width: 500px) {
	.home {
		.home-top {
			height: calc(93vh);
		}
		.top-caption {
			top: 6rem;
			.title {
				font-size: 35px;
				line-height: 38px;
				margin-top: 0rem;
			}
			.op-btn {
				margin-top: 1rem;
			}
			.untitle {
				margin-top: 1rem;
				font-size: 125%;
			}
		}
		.top-image {
			top: 17rem;
		}
	}
}

@media (max-width: 430px) {
	.home {
		.top-caption {
			top: 5rem;
			.title {
				font-size: 30px;
				line-height: 33px;
				margin-top: 0.5rem;
			}
			.op-btn {
				margin-top: 1rem;
				text-align: center;
			}
			.untitle {
				margin-top: 1rem;
				font-size: 110%;
			}
			.btn-lg {
			}
		}
		.top-image {
			top: 19rem;
			img {
				width: 90%;
			}
		}
	}
}

@media (max-width: 415px) {
	.home {
		.top-image {
			top: 20rem;
		}
	}
}


@media (max-width: 400px) {
	.home {
		.top-image {
			top: 20rem;
		}
		.btn-lg {
			font-size: 14px;
		}
	}
}

@media (max-width: 380px) {
	.home {
		.top-image {
			top: 22.5rem;
		}
	}
	@media (max-height: 700px) {
		.home {
			.top-image {
				top: 20rem;
			}
		}
	}
}

@media (max-width: 374px) {
	.home {
		.top-caption {
			top: 5rem;
			.title {
				font-size: 25px;
				line-height: 28px;
				margin-top: 0.5rem;
			}
			.op-btn {
				margin-top: 1rem;
			}
			.untitle {
				margin-top: 1rem;
				font-size: 100%;
			}
		}
		.top-image {
			top: 20rem;
		}
	}
}

@media (max-width: 330px) {
	.home {
		.top-caption {
			top: 5rem;
			.title {
				font-size: 25px;
				line-height: 28px;
				margin-top: 0.5rem;
			}
			.op-btn {
				margin-top: 1rem;
			}
			.untitle {
				margin-top: 1rem;
				font-size: 100%;
			}
		}
		.btn-lg {
			font-size: 12px;
			line-height: 17px;
		}
		.top-image {
			top: 20rem;
			img {
				width: 75%;
			}
		}
	}
}

/* video in the home */
.home {
	.video-top {
		background-image: none;
		height: auto;
		position: relative;
		figure {
			margin-top: 1rem;
			cursor: pointer;
			iframe {
				min-height: 586px;
			}
		}
		.text {
			background-color: var(--secundary-color);
			padding: 1rem;
			position: absolute;
			top: 80%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			min-width: 27rem;
		}
	}
}	

@media (max-width: 1080px) {
	.home {
		.video-top {
			figure {
				iframe {
					min-height: 522px;
				}
			}
		}
	}
}

@media (max-width: 1079px) {
	.home {
		.video-top {
			figure {
				iframe {
					min-height: 490px;
				}
			}
		}
	}
}
	
@media (max-width: 1023px) {
	.home {
		.video-top {
			.text {
				display: none;
			}
			figure {
				iframe {
					min-height: 480px;
				}
			}
		}
	}
}
	
@media (max-width: 850px) {
	.home {
		.video-top {
			figure {
				iframe {
					min-height: 365px;
				}
			}
		}
	}
}

@media (max-width: 700px) {
	.home {
		.video-top {
			figure {
				iframe {
					min-height: 280px;
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.home {
		.video-top {
			figure {
				iframe {
					min-height: 195px;
				}
			}
		}
	}
}

@media (max-width: 430px) {
	.home {
		.video-top {
			figure {
				iframe {
					min-height: 175px;
				}
			}
		}
	}
}

@media (max-width: 374px) {
	.home {
		.video-top {
			figure {
				iframe {
					min-height: 150px;
				}
			}
		}
	}
}

/*   home about */
.home {
	.about-top {
		margin-top: 6rem;
		.box-layers {
			margin-top: -6rem;
			.col-lg-4 {
				margin-top: -5rem;
			}
			.ab-box {
				height: 15rem;
				padding-left: 1.6rem;
				padding-right: 1.6rem;
				padding-top: 20px;
				padding-bottom: 20px;
				.ab-box-icon {
					width: auto;
					img {
						width:auto;
					}
				}
			}
		}
		.box-layers2 {
			margin-bottom: -5rem;
		}
	}
}
	
@media (max-width: 1023px) {
	.home {
		.about-top {
			.box-layers {
				.col-lg-4 {
					margin-top: 0;
				}
				.col-lg-4:first-child {
					margin-top: -5rem;
					margin-bottom: 2.5rem;
				}
			}
		}
	}
}

/*   home counter bar */
.home {
	.counter-bar {
		margin-top: 0;
		padding-top: 3rem;
		padding-bottom: 3rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		.counter-layer {
			padding: 0px 4px;

			img {
				width: 3rem;
			}
			.counter {
				font-size: 25px;
				padding-left: 0.5rem;
			}
			.counter-unit {
				color: var(--primary-color);
				font-size: 20px;
				padding-left: 0.3rem;
			}
			p {
				padding-left: 0.5rem;
			}
		}
	}
}

@media (max-width: 768px) {
	.home {
		.counter-bar {
			margin-top: 0;
		}
	}
}

/*   home services */
.home {
	.ws-parallax-services {
		background-image: url("../images/separation/accueil_conseils.png");
		height: 32rem;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		margin-top: -160px;
		padding: 130px 0;
		padding-top: 1rem;
	}
}

@media (max-width: 768px) {
	.home {
		.ws-parallax-services {
			height: 34rem;
		}
	}
}

@media (max-width: 325px) {
	.home {
		.ws-parallax-services {
			height: 38rem;
		}
	}
}

/*   home others */
.home {
	.owl-stage {
		display: flex;
		flex-wrap: wrap;
		.item {
			height: 100%;
			.ws-box-services {
				height: 100%;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				.ws-box-icon {
					width: 100%;
					display: inline-block;
					img {
						width: auto;
					}
				}			
			}			
		}
	}
}

@media (max-width: 480px) {
	.home {
		.owl-stage {
			.np-caption {
				margin: -1rem 1rem 0px;
				h4 {
					font-size: 16px;
				}
			}
		}
	}
}
	
/************************/
/*     diagnostic       */
/************************/
.diagnostic {
	.btn-tool {
		position: fixed;
		bottom: 0;
		left:0;
		width: 100%;
		padding-bottom: 0;
		.container {
			background-color: #FF8C00;
			h2 {
				padding: 0.5rem;
				margin-bottom: 0;
				text-align: center;
				color: #fff;
			}
		}
	}
	.list-etapes {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 1rem;
		.etape {
			padding-bottom: 1rem;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			flex: 0 0 50%;
			width: 100%;
			.image {
				padding-right: 1rem;
			}
			.label {
				padding-right: 1rem;
			}
		}
	}
}
	
@media (max-width: 768px) {
	.diagnostic {
		.list-etapes {
			.etape {
				flex: 0 0 100%;
				.image {
				}
			}
		}
	}
}

/************************/
/*      A propos        */
/************************/
.apropos {
	.post-image {
		float : left;
		margin-right: 1rem;
		img {
			width: auto;
			margin: auto;
			display: block;
		}
	}
}
	
@media (max-width: 768px) {
	.apropos {
		.post-image {
			float: none;
			margin-right: 0;
			width: 100%;
		}
	}
}

/************************/
/*    statistics        */
/************************/
.statistics {
	.block-ws {
		margin-top: 12rem;
	}
}

/**************/
/* media size */
/**************/

@media (max-width: 425px) {
	.container {
		max-width: 100%;
	}
}

@media (min-width: 768px) {
	.form-row {
		margin-bottom: 1rem;

		.form-label {
			width: 40%;
			text-align: right;
			margin:0;
		}
		.form-input {
			width: 50%;
			max-width: 20rem;
			margin:0;
		}
	}
}

@media (min-width: 1024px) {
	.form-row {
		.form-label {
			width: 30%;
		}
		.form-input {
			width: 50%;
		}
	}
	.footer ul li {
		width: auto;
	}
}

/*****************************/
/*      JS Management        */
/*****************************/
.wait {
	cursor: wait;
}
