/* header zone */
.header-zone .app-title {
	float:left;
    width: 25%;
	color: #f3f3f3;
	font-size: 200%;
	font-style: italic;
	padding-left: 10px;
	font-weight: bold;
	text-overflow: ellipsis;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
	white-space: nowrap;
}

.header-zone .header-info {
 	float:left;
    width: 75%;
}

/* main zone */
.main-zone {
	position: relative;
}

.block-crm {
    background-color: #ffffff;
	min-height : 600px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin: auto;
	max-width:1060px;
}

.input-group .page-header {
  background-color: #ffffff;
  border-width: 0;
  color: #000000;
  text-align: left;
  vertical-align: middle;
}

.block-crm>.page-header {
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 10px;
}

.block-customers_events_list>.page-header {
	margin-top: -5px;
	margin-right: -5px;
	margin-left: -5px;
	margin-bottom: 10px;
}

.block-crm>.page-header,
.block-customers_events_list>.page-header,
.page-header {
	color: #ffffff;
	background-color: #337ab7;
	text-align: center;
}

.input-group .page-header h1 {
	font-size: 12px;
	font-weight: 700;
	line-height: 17.15px;
}

.block-searching_page_list {
	min-height: 300px;
}


.work-zone {
	min-height: 540px;
}

/* aside zone */
.aside-zone {
	float: right;
	right: 0px;
}

.aside-zone a.button-aside {
	display: block;
	width: 30px; 
	height: 30px;
}

.aside-zone.minus {
    position: absolute;
	z-index: 1000;
	top: 8px;
	right: 0px;
}

.aside-zone.minus aside {
	display:none;
}

.aside-zone.minus a.button-aside {
	background: url(../../images/icon_plus.png) top left no-repeat;
	background-size: 100% 100%;
}

.aside-zone.plus {
    width: 25%;
}

.aside-zone.plus a.button-aside {
	background: url(../../images/icon_moins.png) top left no-repeat;
	background-size: 100% 100%;
    position: absolute;
	z-index: 1000;
	top: 8px;
}

.work-zone {
	min-height: 540px;
}

.aside-zone {
	min-height: 540px;
}

aside.block {
	width:100%;
	min-height: 540px;
}

/* work zone */
.work-zone.plus{
    width: 100%;
}

.work-zone.minus{
    width: 75%;
}


div.tab-content .tab-pane {
	border-color: #337ab7;
	border-style: solid;
	border-width: 2px;	
	padding-top: 5px;
	min-height: 205px;
}

div.control-group {
	margin-bottom: 10px;	
}

.form-line input,
.form-line select {
    max-width: 410px;
}

*/
